<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <title>Memo</title>
    
    <link rel="stylesheet" href="css/font_awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/framework7.ios.min.css" />
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css" />
    <link rel="stylesheet" href="css/index.css" />

</head>
<body class="theme-white" data-ng-controller="memoController as memo">
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>

    <!-- Left Drawer -->
    <div class="panel panel-left panel-reveal">
        <div class="list-block">
            <ul>
                <li ng-repeat="topic in memo.topics">
                    <a class="item-link item-content" ng-click="memo.topic = topic">
                        <div class="item-inner">
                            {{topic}}
                        </div>
                    </a>
                </li>
                <!--<li>
                    <a href="form.html" class="item-link item-content" ng-click="memo.shuffle2()">
                        <div class="item-inner">
                            Shuffle2
                        </div>
                    </a>
                </li>
                <li>
                    <a href="sandbox.html" class="item-link item-content">
                        <div class="item-inner">
                            Sandbox
                        </div>
                    </a>
                </li>
                <li>
                    <a href="form.html" class="item-link item-content">
                        <div class="item-inner">
                            Form Example
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>

    <!-- Views -->
    <div class="views">

        <!-- Main View -->
        <div class="view view-main">

            <!-- Navbar -->
            <div class="navbar no-border">
                
                <!-- Index -->
                <div class="navbar-inner" data-page="index">
                    <div></div>
                </div>
                
                <!-- Topics -->
                <div class="navbar-inner cached" data-page="topics">    
                    <div class="center">
                        <img height="25" src="img/memo.png" />
                    </div>
                    <div class="right">
                        <a href="#" class="link icon-only">
                            <i class="ion-plus-round"></i>
                        </a>
                    </div>
                </div>

                <!-- Cards Portrait -->
                <div class="navbar-inner cached" data-page="cardsPortrait">
                    <div class="left">
                        <a class="link" ng-click="memo.topic = undefined">
                            <i class="ion-chevron-left"></i>
                            <span>{{memo.topic}}</span>
                        </a>
                    </div>
                </div>

                <!-- Cards Landscape -->
                <div class="navbar-inner cached" data-page="cardsLandscape">
                    <div class="center">{{memo.topic}}</div>
                </div>

            </div>

            <!-- Pages -->
            <div class="pages navbar-through toolbar-through">
                
                <!-- Index -->
                <div class="page" data-page="index">
                    <div class="page-content"></div>
                </div>

                <!-- Topics -->
                <div class="page cached" data-page="topics">
                    <div class="page-content">
                        <div class="list-block inset">
                            <ul>
                                <li ng-repeat="topic in memo.topics">
                                    <a class="item-link" ng-click="memo.topic = topic">
                                        <div class="item-content">
                                            <div class="item-inner">{{topic}}</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="toolbar toolbar-bottom">
                        <div class="toolbar-inner">
                            © nordleif
                        </div>
                    </div>

                <!-- Cards Portrait -->
                <div class="page cached" data-page="cardsPortrait">
                    <div class="page-content">
                        <div class="list-block cards-list">
                            <ul>
                                <li ng-repeat="card in memo.cards" class="{{card.show}} card" ng-click="card.turn()">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            {{card.upperText}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Cards Landscape -->
                <div class="page cached" data-page="cardsLandscape">
                    <div class="page-content">
                        <div class="landscape swiper-container swiper-init">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">
                                <div ng-repeat="card in memo.cards" class="swiper-slide">
                                    <div class="{{card.show}} landscape card" ng-click="card.turn()">
                                        <div class="card-content">
                                            <div class="card-content-inner">
                                                {{card.upperText}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Allows us to perform custom mocking, etc for the Apache Ripple Emulator. -->
    <script src="scripts/RippleMockApi.js"></script> 
    
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts//angular-route.js"></script>
    <script src="scripts/framework7.min.js"></script>
    <script src="scripts/appBundle.js"></script> 

</body>
</html>