
body {
  background: #ffffff;
  color: #000000;
}


.lower {
    background: #743cb5;
    color: #ffffff;
}

.upper {
    background: #689f38;
    color: #ffffff;
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.center.portrait {

}

.center.landscape {
    font-size: 30px;
    height: 80%;
    margin: 30px;
}

.navbar {
  border-bottom: none;
}

.navbar-span {

}

.page {
  background: #ffffff;
  color: #000000;
}

.panel {
  background: #558b2f;
  color: #ffffff;
}

.panel ul {
  background: #558b2f;
  color: #ffffff;
}

.swiper-container.landscape {
    height: 100%;
}