
body {
  background: #ffffff;
  color: #000000;
}

.card {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.card.lower {
    background: #9ccc65;
    color: #000000;
}

.card.upper {
    background: #689f38;
    color: #ffffff;
}

.card.portrait {

}

.card.landscape {
    font-size: 30px;
    height: 80%;
    margin: 30px;
}

.navbar {
  border-bottom: none;
  background: #8bc34a;
  color: #ffffff;
}

.page {
  background: #ffffff;
  color: #000000;
}

.panel {
  background: #558b2f;
  color: #ffffff;
}

.panel ul {
  background: #558b2f;
  color: #ffffff;
}

.statusbar-overlay {
    background: #8bc34a;
}

.swiper-container.landscape {
    height: 100%;
}

.toolbar {
  background: #ffffff;
  border-top: none;
  color: #000000;
}

.toolbar-inner {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}